@{
    ViewData["Title"] = "Home Page";
}
<div class="text" id="pos">
    <p>Здоровье — это лучшее богатство,<br />которое</p><h1> есть у нас!</h1>
</div>
<div class="containerBtn">
    
<div  class="btn-group-vertical" >
  <a id="a"asp-controller="Account" asp-action="Register">Регистрация</a>
  <a id="a"asp-controller="Account" asp-action="Login">Вход</a>
    </div>
    </div>

