@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="containerBtn">
<div  class="btn-group-vertical" >
  <a id="a"asp-controller="Account" asp-action="Register">Регистрация</a>
  <a id="a"asp-controller="Account" asp-action="Login">Вход</a>
    </div>
    </div>