@model SelfControlDiary.ViewModels.EditGroupViewModel
@{
    ViewData["Title"] = "Редактирование группы " + Model.Name + " факультета " + Model.Faculty;
}

<h2>Редактирование группы @Model.Name факультета @Model.Faculty</h2>

<form asp-action="EditGroup">

    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Id" type="hidden" />
    <div class="form-group row">
        <div class="col-xs-4">
            <label asp-for="Name" class="control-label">Название группы</label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-4">
            <label asp-for="Course" class="control-label">Номер курса</label>
            <input asp-for="Course" class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-4">
            <input type="submit" value="Изменить" class="btn btn-default" />
        </div>
    </div>

</form>