@using Microsoft.AspNetCore.Identity
@using SelfControlDiary.Models
@using Microsoft.AspNetCore.Http

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "admin"))
    {
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Факультеты и группы</a>
            <a href="#">Студенты</a>
            <a href="#">Пользователи</a>
            <a href="#">Выборка</a>
        </div>

        <div id="main">
            <span style="font-size:30px; cursor:pointer" onclick="openNav()">&#9776; open </span>
            <span style="font-size:30px; text-align:center">Дневник самоконтроля</span>
        </div>

        <script>
                function openNav() {
                    document.getElementById("mySidenav").style.width = "250px";
                    document.getElementById("main").style.marginLeft = "250px";
                }

                function closeNav() {
                    document.getElementById("mySidenav").style.width = "0";
                    document.getElementById("main").style.marginLeft = "0";
                }
        </script>
    }
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Выйти</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Войти</a></li>
    </ul>
}