body {
    padding-top: 50px;
    padding-bottom: 20px;
}

@font-face {
    font-family: GardensC_03_1;
    src: url( GardensC_03_1.otf);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.conteiner {
    position: fixed;
    width: 900px;
    height: 700px;
    background-image: linear-gradient(#c7c6e6,#9f9aa8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 15px;
}
.containerBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

    #a:hover {
        background-color: black;
        color: white;
    }

body {
    background-image: url(alexander-redl-185764-unsplash.jpg);
    font-size: 15px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #212121;
    line-height: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-x: hidden;
}

#a {
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


 .container1 {
    display: inline-block;
    cursor: pointer;
    }

    .bar1, .bar2, .bar  3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    }

    .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
    opacity: 0;
    }

    .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    }

#menuHeader{
    font-size:12px;
    background-color:cornsilk;
    font-family:GardensC_03_1;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 60%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

#styleMenu{
    font-family:GardensC_03_1;
    font-size:20px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
